body {
}

.frmlabel {
    font-weight: 600;
}

.standardheader {
    margin-bottom: 0;
    padding-bottom: 0;
}

.crslistingcont {
    width: 45%;
    padding: 0;
}

.crslistingrow {
    width: 100%;
    padding: 3px 0 3px 0;
    font-size: 16px;
    display: block;
    overflow: hidden;
}

.crsname {
    width: 70%;
    float: left;
}

.crsviewdetails {
    width: 30%;
    float: left;
}

.crslink {
    text-decoration: none;
}

.frm_row_cont {
    width: 100%;
    padding: 5px 0 5px 0;
    font-size: 16px;
}

.button {
    background-color: #000080;
    border: none;
    color: white;
    padding: 7px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 15px;
}

.addcrsmsgdiv {
    display: none;
}

.addaccmsgdiv {
    display: none;
}

.addpresmsgdiv {
    display: none;
}

.addroommsgdiv {
    display: none;
}

.addsessmsgdiv {
    display: none;
}

.dllist {
    width: 350px;
    border: solid 1px #000080;
    border-radius: 3px;
}

.dllist_eh {
    width: 252px;
    border: solid 2px #000080;
    border-radius: 3px;
}

.tbinput {
    width: 350px;
}
